{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block links %}{% endblock %}
    <title>Document</title>
</head>
<body>
    <header>
        <img class = "logo" src="{% static 'icons/logo.svg' %}" alt="">
        <nav class = "header-nav">
            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home'%}active{% endif %}"><img src="{% static 'icons/House.svg' %}" alt="">Головна</a>
            <a href="{% url 'publications' %}" class="{% if request.resolver_match.url_name == 'publications'%}active{% endif %}"><img src="{% static 'icons/painting.svg' %}" alt="">Мої публікації</a>
            <a href="{% url 'friends' %}" class="{% if request.resolver_match.url_name == 'friends'%}active{% endif %}"><img src="{% static 'icons/friends.svg' %}" alt="">Друзі</a>
            <a href="{% url 'chats' %}" class="{% if request.resolver_match.url_name == 'chats'%}active{% endif %}"><img src="{% static 'icons/chat.svg' %}" alt="">Чати</a>
            <a href="{% url 'settings' %}" class="{% if request.resolver_match.url_name == 'settings'%}active{% endif %}"><img src="{% static 'icons/settings.svg' %}" alt="">Налаштування</a>
            <button class = "logout"><img src="{% static 'icons/leave.svg' %}" alt="">Вихід</button>
        </nav>
    </header>
    <main>
        <div class = "sidebar">
            {% block sidebar %}
                <div class="profile">
                    <img class="avatar-user" src="{% static 'icons/avatar.jpg' %}" alt=""> 
                    <h2 class="name-user">Lina Li</h2>
                    <p class="teg-user">@thelili</p>
                    <div class="info">
                        <div class="posts">
                            <h2>566</h2>
                            <p>Дописи</p>
                        </div>
                        <div class="readers">
                            <h2>12.1K</h2>
                            <p>Читачі</p>
                        </div>
                        <div class = "friends">
                            <h2>222</h2>
                            <p>Друзі</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </main>
    {% block scripts %}
    {% endblock %}
</body>
</html>