.modal-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65) !important;
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px; 
}

.modal-window.hidden {
    display: none !important;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.select-members .action-buttons {
    width: 100%;
}