{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'post_app/css/create_post.css' %}">
{% endblock %}

<div id="post-modal" style="display: none;">
    <form action="{% url 'post_create' %}" method="post" enctype="multipart/form-data" class = "create-post-forms" id="create-post-forms">
            {% csrf_token %}
            <div>
                <button class = "cross-button" id="close-modal-post">
                    <img src="{% static 'post_app/icons/cross.svg' %}" alt="">
                </button>
            </div>
                    <h2>Створення публікації</h2>
            <label>Назва публікації</label>
            {{ form.title.errors }}
            {{ form.title }}
            <label>Тема публікації</label>
            {{ form.topic.errors }}
            {{ form.topic }}

            <div class="field-with-button">
                <div class="tags-wrapper">
                    {{ form.tags }}
                </div>
                <button class="plus-button" type="button" id="tag-button">
                    <img class="plus-image" src="{% static 'post_app/icons/plus.svg' %}" alt="">
                </button>
            </div>

            {{ form.content.errors }}
            {{ form.content }}

            <div class="field-with-button">
                <label for="{{ form.links.id_for_label }}">Посилання</label>
                <button class="plus-button" type="button" id="add-link">
                    <img class="plus-image" src="{% static 'post_app/icons/plus.svg' %}" alt="">
                </button>
            </div>
            <div class="link-field-row">
                {{ form.links }}
                <div id="links-list"></div>
            </div>

            
            <div class="bottom-buttons">
                <button class="picture-button" type="button" id="choose-images">
                    <img class="picture-image" src="{% static 'post_app/icons/image.svg' %}" alt="">
                </button>
            <input type="file" name="photos" id="images-input" accept="image/*" multiple style="display:none;" />
                <button class="smile-button" type="button">
                    <img src="{% static 'post_app/icons/smile.svg' %}" alt="">
                </button>
                <button class="submit-button" type="submit">
                    <img class="submit-image" src="{% static 'post_app/icons/publication_btn.svg' %}" alt="">
                </button>
            </div>
            <div id="image-preview" class="image-preview"></div>
        </form>
</div>

{% block scripts %}
    <script src="{% static 'post_app/js/image_view.js' %}"></script>
{% endblock %}