.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-card { 
    display:flex;
    width:30.625rem;
    height:27.8125rem;
    border-radius:1.25rem;
    background-color:#FFFFFF;
    padding: 1.5rem 2.75rem 2.75rem 2.75rem;
    align-items:center;
    flex-direction:column;
    justify-content: space-between;
}

.user-details-form{
    display:flex;
    width:25.125rem;
    height:fit-content;
    flex-direction:column;
    padding: 4.5rem 0;
    gap:1rem;
    justify-content: center;
}

.modal-card h2 {
    display: flex;
    font-size:2.125rem;
    font-weight:500;
}
input{
    width:25.125rem;
    height:2.625rem;
    border-radius:0.625rem;
    border:1px solid #CDCED2;
    font-family:var(--fontRegular);
    padding:0 0 0 1rem;
}
label{
    font-size:1rem;
    font-family:var(--fontRegular);
    font-weight:400;
}
.hint-green{
    color:#22C55E;
}
.modal-actions{ 
    display:flex;
    width:100%;
    height:2.5rem;
    justify-content:flex-end;
}
.modal-actions button img{
    width:100%;
    height:100%;
}
.modal-actions button{
    display:flex;
    width:7rem;
    height:2.5rem;
    background-color:transparent;
    border:none;
    cursor:pointer;
}
.modal-hint{
    font-weight:400 !important;
    font-family:var(--fontRegular)
}
.modal-field-group{
    display:flex;
    flex-direction:column;
    gap:6px;

}
