{% extends "base.html" %}
{% load static %}

{% block sidebar %}
    {{ block.super }}
    <div class="requests">
        <div class="inquiry">
            <span>
                <img src="{% static 'icons/requests.svg' %}" alt="">
                <p>Запити</p>
            </span>
            <p>Дивитись всі</p>
        </div>
        <div class="follower">
            <div class="info-follower">
                <div>
                    <img class="avatar-follower" src="" alt="">
                    <span class="info-follower">
                        <p>Yehor Aung</p>
                        <p>4.3к підписників</p>
                    </span>
                </div>
                
                <div>
                    <img class="avatar-follower" src="" alt="">
                    <span class="info-follower">
                        <p>Ann Ann</p>
                        <p>1.6к підписників</p>
                    </span>
                </div>
                <div>
                    <img class="avatar-follower" src="" alt="">
                    <span class="info-follower">
                        <p>Yeugen Jenua</p>
                        <p>10.3к підписників</p>
                    </span>
                </div>                        
            </div>
        </div>

    <div class="message-pepol">
        <div class="message">
            <div>
                <span>
                    <img src="{% static 'icons/chat.svg' %}" alt="">
                    <p>Повідомлення</p>
                </span>
                <p>Дивитись всі</p>
            </div>
        </div>
            
        <div class="message-user">
            <div class="user-message">
                <div>
                    <img class="avatar-friends" src="" alt="">
                    <span class="message-friends">
                        <p>Mona Lisa</p>
                        <p>Привіт! Як справи ?</p>
                        <p>09:41</p>
                    </span>
                </div>
                <div>
                    <img class="avatar-friends" src="" alt="">
                    <span class="message-friends">
                        <p>Ann Ti</p>
                        <p>Привіт!</p>
                        <p>25.04.2025</p>
                    </span>
                 </div>
        
                     <div>
                        <img class="avatar-friends" src="" alt="">
                        <span class="message-friends">
                            <p>Ness Ty</p>
                            <p>Привіт!</p>
                            <p>25.04.2025</p>
                        </span>
                     </div>
                </div>
            </div>
        </div>
    </div>     
{% endblock %}

{% block content %}
    <p>Это страница</p>
{% endblock %}