{% extends 'base.html' %}
{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
{% endblock %}

{% block title %} Чат {% endblock %}

{% block layout %}  
    <aside class = "left-sidebar">
        <button class="create-chat">
            <img src="{% static 'chat_app/icons/make_group_chat.svg' %}" alt="">
        </button>
        <div class="contacts">
            <div class = "contacts-header">
                <div>
                    <img src="{% static 'icons/logo/people.svg' %}" alt="">
                </div>
                <h3>Контакти</h3>
            </div>
            <div class = "contacts-search">
                <input type="text" placeholder="Пошук">
                <div>
                    <img src="{% static 'chat_app/icons/search.svg' %}" alt="">
                </div>
            </div>
            <div class="users">
                <div class="user">
                    <div>
                        <img src="{% static 'chat_app/icons/Jane Cooper.png' %}" alt="">
                    </div>
                    <p>Jane Cooper</p>
                </div>
            </div>
        </div>
    </aside>
    <section class = "chat-main">
        dfgdfgss
    </section> 
    <aside class = "right-sidebar">sdfgdsgdf</aside>

{% endblock %}



{% block scripts %}
    <script src="{% static 'chat_app/js/chat.js' %}"></script>
{% endblock %}