@font-face {
    font-family: "links";
    src: url("../fonts/GTWalsheimPro-Medium.ttf");
}

:root{
    --fontMedium: "links";
    --colorTextDefault: #070A1C;
}

*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
    background-color: #faf8ff;
}

html{
    font-size: 16px;
}

p, h2 {
    font-family: var(--fontMedium);
}

header{
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    height: 5.5rem;
}

main, header nav{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.35rem;
    margin-top:3.2vh;
    height: 100vh
}

header nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 2.5rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color:red; */
    width: 24.31vw;
}

.content{
    display: flex;
    /* background-color:green; */
    height: 100vh;
    width: 64vw;
}

.header-nav {
    display:flex;
    align-items: center;
    gap: 1.5rem;    
}

.header-nav a{
    text-decoration: none;
    color: var(--colorTextDefault);
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    font-family: var(--fontMedium);
    border-radius:0.18rem;
    padding: 0.25rem 0.5rem;
    height: 1.75rem;
}

.header-nav a:hover{
    background-color: #E9E5EE;
}

.header-nav a img{
    height: auto;
    margin-right: 0.5rem;
}

.header-nav a.active{
    background-color: #E9E5EE;
}

.logout{
    height:2.5rem !important;
    cursor: pointer;
    padding:0 !important;
}

.header-nav .logout img{
    width:100%;
    height:100%;
}

.header-nav .logout:hover{
    background-color:transparent;
}

.logo{
    height: 1.125rem;
    width: auto;
}

.logo img{
    width:100%;
    height:100%;
}
